@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  /* background-color: #2C3333; */
  background-color: #0AB88A;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0px 20px;
}

header h1 {
  color: #F2FFE9;
  text-align: center;
  margin-bottom: 40px;
}

.container {
  position: relative;
  width: 100%;
  height: 80px;
  background: #F2FFE9;
  border-radius: 12px;
  overflow: hidden;
  transition: height 1s ease-in-out;
}

.container.weather-info-open {
  height: 310px;
}

#weatherForm .input-location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding: 24px 20px;
  z-index: 2;
}

#weatherForm .input-location input {
  color: #272829;
  width: 80%;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  background: transparent;
}

#weatherForm .input-location input::placeholder {
  color: #bebebe;
}

#weatherForm .input-location button {
  cursor: pointer;
}

.weather-info {
  position: absolute;
  padding: 24px 20px;
  width: 100%;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.weather-info.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.weather {
  display: flex;
  align-items: start;
  flex-direction: column;
  color: #272829;
}

.weather .wrapper-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.weather .temp {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 40px;
  font-weight: 700;
}

.weather .weather-desc {
  font-size: 20px;
  margin-bottom: 40px;
}

.weather .location {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.weather .weather-detail {
  display: flex;
  align-items: center;
  gap: 30px;
}

.weather .weather-detail p {
  display: flex;
  align-items: center;
  gap: 10px;
}